<div class="container-fluid">
  <div class="row">
    <nav id="savedHobbies" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">

      <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved Hobbies</span>
        </h6>
        <p class="m-2">Select a hobby to view its playlist of saved videos.</p>
        {{!-- <button class="btn btn-secondary savedHobbyView" type="submit">View</button> --}}
        <ul class="nav flex-column saved-Hobbies m-2" id="myHobbies">
          {{!-- will get saved hobbies by user_id, then #each hobby as |hobby| insert html to render list of hobbies
          --}}
          {{#each hobbies as |hobby|}}
          <li class="nav-item">
            <p hidden class="hobbyId">{{{hobby.id}}}</p>
            <a class="nav-link active savedHobby" aria-current="page" data-id='{{{hobby.id}}}' href="#">

              <span data-feather="home"></span>
              <h5 class="savedHobbyName">{{{hobby.name}}}</h5>
              <button class="btn btn-danger btn-sm deleteHobby" type="delete">Delete</button>
            </a>
          </li>
          {{/each}}
        </ul>
    </nav>
    <div class="container">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          id="playlistDisplay">
          <h3>Hobby Playlist</h3>
          <br>
          <h6>Select a saved hobby from "My Hobbies" to view saved videos here:</h6>
          {{#each videoList as |video|}}
          {{!-- populates with videos related to selected hobby #each making a card for videos returned from YT
          response.id.videoId to return unique video identifier,
          response.snippet.title for the video title,
          response.snippet.description,
          response.snippet.thumbnails.standard(or let it default)
          response.snippet.thumbnails.url*/--}}

          <div class='col-auto card text-white bg-primary m-2' style='12 rem'>
            <div class='videoCardBody'>
              <div class="savedvideoCardThumbnail">{{video.thumbnail}}</div>
              <h5 class="savedvideoCardTitle text-center">{{video.title}}</h5>
              <h6 class="savedvideoCardDesc">{{video.description}}</h6>
              <h6 class="savedvideoCardURL">{{video.url}}</h6>
              <h6 class="savedvideoCardYTID">{{video.youtube_id}}</h6>
              <button class="btn btn-secondary savedVidView" type="submit">View</button>
              <button class="btn btn-danger deleteVid" type="delete">Delete</button>
            </div>
          </div>
          {{/each}}
        </div>
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          id="newHobby">
          <h1 class="h3">Add a new hobby</h1>
          {{!-- form to create a new hobby with submit button that triggers Youtube api data pull and a place to render
          searched
          videos and posts hobby to data base --}}
          <div class="newHobbyForm form" style="width: 26rem">
            <form class="form">
              <div class="mb-3">
                <label for="newHobbyCreateandSave" class="form-label">Enter a topic your are interested in.</label>
                <input class="form-control form-control-lg" type="text" id="hobby-name" aria-describedby="eHelp" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          id="videoSearchDisplay">
          <h3>Top Videos</h3>
          <h6>Save videos to the hobby playlist first, then view videos from your playlist.</h6>
          {{#each ytvideos as |video|}}
          {{!-- populates with videos related to selected hobby #each making a card for videos returned from YT
          response.id.videoId to return unique video identifier,
          response.snippet.title for the video title,
          response.snippet.description,
          response.snippet.thumbnails.standard(or let it default)
          response.snippet.thumbnails.url*/--}}
          <div class='col-auto card text-white bg-primary m-2' style='width: 12rem;'>
            <div class='videoCardBody'>
              <div class="videoCardThumbnail">{{video.snippet.thumbnail.standard}}</div>
              <h5 class="videoCardTitle text-center">{{video.snippet.title}}</h5>
              <h6 class="videoCardDesc">{{video.snippet.description}}</h6>
              <h6 class="videoCardURL">{{video.snippet.url}}</h6>
              <h6 class="videoCardYTID">{{video.id.videoId}}</h6>
              <button class="btn btn-secondary newVidSave" type="submit">Save</button>
            </div>
          </div>
          {{/each}}
        </div>
      </main>
    </div>
  </div>
</div>
<footer class= "position-absolute bottom-0 start-50">CURATIO</footer>

<script src="/js/index.js"></script>