<div class="container-fluid">
  <div class="row">
    <nav id="savedHobbies" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved Hobbies</span>
        </h6>
        <p class="m-2">Select a hobby to view its playlist of saved videos.</p>
        {{!-- <button class="btn btn-secondary savedHobbyView" type="submit">View</button> --}}
        <ul class="nav flex-column saved-Hobbies m-2 overflow-auto" id="myHobbies">
          {{!-- will get saved hobbies by user_id, then #each hobby as |hobby| insert html to render list of hobbies
          --}}
          {{#each hobbies as |hobby|}}
          <li class="nav-item">
            <p hidden class="hobbyId">{{{hobby.id}}}</p>
            <a class="nav-link active savedHobby" aria-current="page" data-id='{{{hobby.id}}}' href="#">


              <span data-feather="home"></span>
              <h5 class="savedHobbyName">{{{hobby.name}}}</h5>
            </a>
            <button class="btn btn-danger btn-sm deleteHobby" type="submit"
              data-confirm="Are you sure you want to remove this from your saved hobbies?">Delete</button>
          </li>
          {{/each}}
        </ul>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <h1 class="text-center">How To Curatio!</h1>
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
          <h6>1. Create an hobby playlist to curate by saving a hobby.</h6>
          <br>
          <h6>2. Save videos to the hobby playlist</h6>
          <br>
          <h6>3. Select a hobby from the hobby bar to view the playlist of videos.</h6>
          <br>
          <h6>4. Watch videos from your playlist, take notes, and repeate by adding and deleting videos.</h6>
        </div>
      </div>
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        id="playlisttitle">
        <h1>Hobby Playlist</h1>
      </div>
      <div>
        <h6>Select a saved hobby from "My Hobbies" to view saved videos here:</h6>
      </div>
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        id="playlistDisplay">
        {{#each playList as |video|}}
        <div class='col-auto card text-white bg-dark m-2' style='width: 18rem;'>
          <img class="savedvideoCardThumbnail border-dark img-fluid rounded mx-auto d-block card-img-top"
            src="{{{video.thumbnail}}}" alt="thumbnail image"></img>
          <div class='videoCardBody card-body'>
            <h6 class="savedvideoCardTitle card-title text-center">{{{video.title}}}</h6>
            <p class="savedvideoCardDesc">{{{video.description}}}</p>
            <p hidden class="savedvideoCardURL">{{{video.url}}}</p>
            <p hidden class="savedvideoCardYTID">{{{video.youtube_id}}}</p>
            <div class="d-flex justify-content-between">
              {{!-- <button class="btn btn-success btn-sm savedVidView" type="submit">View</button> --}}
              <a href="/video/{{{video.id}}}" class="btn btn-sm btn-success active savedVidView" role="button">View</a>
              <button class="btn btn-danger btn-sm deleteVid" type="submit">Delete</button>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        id="newHobby">
        <h1 class="h2">Add a new hobby</h1>
        {{!-- form to create a new hobby with submit button that triggers Youtube api data pull and a place to render
        searched
        videos and posts hobby to data base --}}
        <div class="newHobbyForm form" style="width: 26rem">
          <form class="form">
            <div class="mb-3">
              <label for="newHobbyCreateandSave" class="form-label">Enter a topic your are interested in.</label>
              <input class="form-control form-control-lg" type="text" id="hobby-name" aria-describedby="eHelp" />
            </div>
            <div class="form-group d-flex justify-content-between">
              <button class="btn btn-primary btn-sm" type="submit" id="saveHobby">Save</button>
              <button class="btn btn-info btn-sm" type="submit" id="newVidSearch">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        id="TopVidsTitle">
        <h1 id="hobby_name">{{{hobby}}}</h1>
      </div>
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        id="videoSearchDisplay">
        {{#each ytVideos as |video|}}
        <div class='col-auto card text-white bg-dark m-2' style="18rem">
          {{!-- img-thumbnail border-dark --}}
          <img class="videoCardThumbnail  img-fluid img-thumbnail rounded mx-auto d-block card-img-top"
            src={{{video.snippet.thumbnails.high.url}}} alt="thumbnail image"></img>
          <div class='videoCardBody card-body'>
            <h6 class="videoCardTitle card-title text-center">{{{video.snippet.title}}}</h6>
            {{!-- <p class="videoCardDesc">{{video.snippet.description}}</p> --}}
            <p hidden class="videoCardYTID">{{{video.id.videoId}}}</p>
            <div class="d-flex justify-content-end">
              <button class="btn btn-success btn-sm newVidSave" type="submit">Save</button>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </main>
  </div>
  </main>
</div>

</div>
</div>

<script src="/js/index.js"></script>