 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" id="playlistDisplay">
           <h1>{{{hobbyName}}} Playlist</h1>
           <h3>Click view to open the video and take notes!</h3>
          {{#each videos as |video|}}
           {{!-- populates with videos related to selected hobby #each making a card for videos returned from YT 
           response.id.videoId to return unique video identifier, 
                 response.snippet.title for the video title, 
                response.snippet.description, 
                   response.snippet.thumbnails.standard(or let it default)
                     response.snippet.thumbnails.url*/--}}
           <div class='col-auto card text-white bg-primary m-2' style='width: 12rem;'>
              <div class='videoCardBody'>
                  <div class="savedvideoCardThumbnail">{{video.thumbnail}}</div>
                  <h5 class="savedvideoCardTitle text-center">{{video.title}}</h5>
                  <h6 class="savedvideoCardDesc">{{video.description}}</h6>
                  <h6 class="savedvideoCardURL">{{video.url}}</h6>
                  <h6 class="savedvideoCardYTID">{{video.youtube_id}}</h6>
                  <button class="btn btn-secondary savedVidView" type="submit">View</button>
                  <button class="btn btn-danger deleteVid" type="delete">Delete</button>
             </div>
           </div>
          {{/each}}
</div>