<div class="container-fluid">
  <div class="row">
    <nav id="savedHobbies" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>My Notes</span>
        </h6>


        <div class="list-container">
          <div class="card">
            <ul class="nav flex-column list-group m-2" id="myNotes">
              <p hidden class="videoid">{{NotesList.id}}</p>
              {{#each NotesList.notes as |notes|}}
              <li class="list-group-item" data-note="{{notes.id}}">
                <a href="/notes/{{notes.id}}">{{this.title}} </a>
                <button class="fas fa-trash-alt float-right text-danger delete-note" type="submit"></button>
              </li>

              {{/each}}
            </ul>
          </div>
        </div>

        {{!-- to do: loop through saved notes and create li's for each --}}
        {{!-- sample li
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <span data-feather="home"></span>
            Dashboard
          </a>
        </li>
        </ul> --}}
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        id="primaryVideo">
        <p hidden id="videoID">{{NotesList.id}}</p>
        {{!-- <iframe src="{{{youtube url from search}}}" title="{{{video title from search}}}"> width="" height=""--}}

          {{!-- </iframe> --}}
        {{!-- populates with selected videos after YT API query using iframe tags --}}
      </div>
      <div class="container-fluid">
        <nav class="navbar navbar-dark bg-secondary ">
          <a class="navbar-brand bg-secondary" href="">Notes</a>
          <div class="icons">
            <i class="fas fa-save text-light save-note"></i>
            <i class="fas fa-pen text-light new-note"></i>
          </div>
        </nav>
        <p hidden id="videoID">{{NotesList.id}}</p>
        <div class="note-container">
          <form class="new-note-form">
            <label for="dish_name">
              Notes Title:
            </label>
            <br />
            <textarea id="note-title" id="title" name="note_title" rows="2" cols="112">
                  {{singleNotes.title}}
              </textarea>
            <br />
            <label for="description">
              Notes text:
            </label>
            <br />
            <textarea id="note-textarea" id="text" name="note_text" rows="10" cols="112">
                  {{singleNotes.text}}
              </textarea>
            <br />

            {{!-- <button id="btn btn-info btn-sm" type="submit" id="saveNotes">Save</button> --}}


          </form>
        </div>


      </div>
    </main>
  </div>
</div>


{{!--
<script src="/js/index.js"></script> --}}
<script src="/js/videoView.js"></script>